@model Docspider.Models.Documento

@{
    ViewData["Title"] = "Editar Documento";
}

<h1>Editar Documento</h1>

<form asp-action="SalvarEdicao" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label for="Titulo">Título</label>
        <input asp-for="Titulo"  maxlength="100" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    <div >
        <label for="Descricao">Descrição</label>
        <textarea asp-for="Descricao"  maxlength="2000"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>